body {
    font-family: sans-serif;
    margin-top: 20px;
    background-image: url("bg.jpg");
    
    
}

.center {
    text-align: center;
}


.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 100px;
}
.container {
    max-width: 800px;
    color: grey;
    font-family: time-new-roman;
    
             
}

